.faq-toc {
  padding-top: 30px;
  line-height: 2;
  font-weight: 600;
}

.faq-section {
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
  }
  margin-bottom: 4rem;
  border-top: 1px solid #efefef;
  .faq-item {
    margin-bottom: 3rem;
    p {
      font-size: 1.3rem;
    }

  }
}
