<div class="page-wrapper faq">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1>Veelgestelde vragen</h1>

        <p class="intro">Kunnen we je helpen? </p>

        <div class="row">
          <div class="col-3 faq-toc">
            <a href="/faq#about">About</a><br>
            <a href="/faq#campaigns">Politiek</a><br>
            <a href="/faq#citizens">Bewoners</a><br>
          </div>

          <div class="col-9">
            <div class="faq-section">
              <h2 id="about">Over voOot</h2>
              <div class="faq-item">
                <h3>Wat is voOot?</h3>
                <p>voOot is het nieuwe platform voor de lokale democratie. We hebben dit gelanceerd om meer betekenisvolle interactie en betrokkenheid te ontwikkelen tussen politieke ontwikkelingen en bewoners.</p>
              </div>
              <div class="faq-item">
                <h3>Waarom hebben mensen voOot nodig? </h3>
                <p>Ons doel is om de drempel te verlagen voor bewoners die meer betrokken willen zijn bij hun lokale politiek. Daarnaast willen we politieke campagnes en initiatieven helpen om hun doelgroep te vergroten en beter te bereiken.</p>
              </div>
              <div class="faq-item">
                <h3>Is voOot gelieerd aan een politieke partij?</h3>
                <p>Nee, we zijn niet verwant aan een politieke partij.</p>
              </div>
            </div>

            <div class="faq-section">
              <h2 id="campaigns">Voor politici</h2>
              <div class="faq-item">
                <h3>Hoe maak ik activiteiten aan op voOot?</h3>
                <p>Om activiteiten aan te maken op voOot is het noodzakelijk om een account aan te maken.</p>
              </div>
              <div class="faq-item">
                <h3>Is het gebruik voor een raadslid gratis?</h3>
                <p>De basis functionaliteiten voor het gebruik van voOot zijn gratis. Voor specifieke functies is een pro-account nodig. Dit wordt op een later moment gepubliceerd. </p>
              </div>
              <div class="faq-item">
                <h3>Wat is het verschil tussen een gewone pagina en een geverifieerde pagina?</h3>
                <p>Een geverifieerde pagina is door de policitus of een lid van het campagneteam geclaimd en is goedgekeurd via het voOot verificatie-proces. Een pagina zonder het 'geverifieerd' icoon is nog niet gelaimd door de politicus.</p>
              </div>
              <div class="faq-item">
                <h3>Hoe worden activiteit-pagina's gegenereerd?</h3>
                <p>Onze voOot backend zoekt en verwerkt nieuwe informatie die beschibaar komt via gemeentelijke informatie-systemen.</p>
              </div>
              <div class="faq-item">
                <h3>Ik heb een activiteit gevonden op voOot, waarom zou ik dit moeten claimen?</h3>
                <p>Door de activiteit te claimen hou je je community up to date. Je kunt je mailing list bijhouden, en je komende activiteiten, in contact komen met bewoners en insights krijgen over je campagnes.</p>
              </div>
              <div class="faq-item">
                <h3>Ik heb mijn activiteit gevonden op voOot, hoe kan ik dit claimen?</h3>
                <p>Om de activiteit te verifieren, click op 'claim'. We starten dan het verificatie-proces.</p>
              </div>
              <div class="faq-item">
                <h3>Ik heb mijn activiteit gevonden op voOot en ik heb dit niet geplaatst. Kan ik het verwijderen? </h3>
                <p>Nee, helaas! We werken met publieke gegevens. Als je vindt dat er een fout is gemaakt, neem dan contact met ons op. Of nog beter, maak een account aan, verifieer je identiteit en pas de gegevens aan.</p>
              </div>
            </div>

            <div class="faq-section">
              <h2 id="citizens">Voor bewoners</h2>
              <div class="faq-item">
                <h3>Is het aanmelden op voOot gratis?</h3>
                <p>Ja</p>
              </div>
              <div class="faq-item">
                <h3>Ik mis bepaalde informatie, staat alles er op?</h3>
                <p>We werken hard om alle informatie op voOot te krijgen. Dit is nog een flinke klis. Laat ons weten wat je mist, dan gaan we daar aan werken! </p>
              </div>
              <div class="faq-item">
                <h3>Hoe krijg ik een invite voor voOot?</h3>
                <p>voOot is op dit moment in private alpha. Je krijgt een email als je een alpha-tester bent.</p>
              </div>
              <div class="faq-item">
                <h3>Nu ik een voOot account heb, kan ik dan ook vrienden uitnodigen?</h3>
                <p>Zeker! voOot is beter met vrienden! Je krijgt een notificatie nadat je je account hebt aangemaakt en als je je dashboard bezoekt. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
