.register-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 1;
  padding-top: 50px;
}
.register-box {
  padding: 20px;
  text-align: center;
}
