<div class="home page-wrapper">
  <div class="page-header">
    <div class="container">
      <div class="col-sm-12">
        <h1>voOot</h1>
        <p>Met voOot is het gemakkelijk de ontwikkelingen van de raad te volgen en in contact te komen met elkaar. </p>
      </div>
    </div>
  </div>

  <div class="page-body ">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a [routerLink]="['/person']" class="btn btn-primary">Personen</a>
        </div>
        <div class="col text-center">
          <a [routerLink]="['/gemeente']" class="btn btn-primary">Gemeente</a>
        </div>
      </div>
    </div>
  </div>
</div>
