<div class="home page-wrapper">
  <div class="page-header">
    <div class="container">
      <div class="col-sm-12">
        <p>Met voOot is het gemakkelijk de ontwikkelingen van de raad te volgen en in contact te komen met elkaar. </p>
      </div>
    </div>
  </div>

  <div class="page-body ">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          News feed
        </div>
        <div class="col-md-8">
          <user-timeline></user-timeline>
        </div>
        <div class="col-sm-2">
          <user-notifications></user-notifications>
        </div>
      </div>
    </div>
  </div>
</div>
