.page-wrapper {
  padding: 3rem 0;
  h1 {
    color: #222;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 1.6rem;
    color: #222;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.4rem;
    color: #222;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }

  p.intro {
    font-weight: 600;
    line-height: 1.75;
    font-size: 1.4rem;
  }
  p {
    line-height: 1.8;
  }

}
