.login-wrapper {
  padding: 3rem 0;
  .brand-img {
    img {
      height: 100px;
    }
    margin-bottom: 3rem;
  }

  .login-box {
    text-align: center;
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #ccc;
    margin: 3rem 0;
    text-align: center;
    h2 {
      text-align: center;
      text-transform: uppercase;
      color: #333;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    form {
      .btn-primary {
        width: 100%;
        cursor: pointer;
      }
    }
    .actions {
      a {
        color: #333;
        font-size: 0.8rem;
        padding: 0;
        margin: 0 10px;
        color: #000;
      }
    }
  }
}
