.item {
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.date {
  color: #ccc;
  font-size: 0.8rem;
}

.message {
  padding: 5px 0;
}
