<div class="text-center" *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></div>

<div class="person-edit-wrapper" *ngIf="!loading">
  <div class="breadcrumb">
    <i class="fa fa-home"></i> &rarr; <a [routerLink]="['/person']">personen</a> &rarr; <span class="current">create</span>
  </div>

  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2">
          <a [routerLink]="['/person', person.id]">
            <div class="avatar-container" [ngStyle]="{'background-image': 'url(' + person.headshot + ')'}"></div>
          </a>
        </div>
        <div class="col-sm-6 align-self-center">
          <h1 class="displayname">{{person.displayname}}</h1>
          <div class="name">{{person.firstname}} {{person.lastname}}</div>
          <h2 class="position">Gemeenteraadslid - Den Haag</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container">
      <div class="col">
        <ngb-tabset>
          <ngb-tab title="Basis">
            <ng-template ngbTabContent>
              <form name="form" #f="ngForm" novalidate>

                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
                  <label for="firstname" class="col-3">Voornaam</label>
                  <div class="col-3">
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="person.firstname" (ngModelChange)="personModelChange('firstname', $event)" #firstname="ngModel" required />
                    <div *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is required</div>
                  </div>
                  <label for="lastname" class="col-2">Achternaam</label>
                  <div class="col-4">
                    <input type="text" class="form-control" name="lastname" [(ngModel)]="person.lastname" #lastname="ngModel" (ngModelChange)="personModelChange('lastname', $event)"required />
                    <div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is required</div>
                  </div>
                </div>

                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !displayname.valid }">
                    <label for="displayname" class="col-3">Display name</label>
                    <div class="col">
                      <input type="text" class="form-control" name="displayname" [(ngModel)]="person.displayname"
                      (ngModelChange)="personModelChange('displayname', $event)"#displayname="ngModel" required />
                      <div *ngIf="f.submitted && !displayname.valid" class="help-block">Displayname is required</div>
                    </div>
                </div>

                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !headshot.valid }">
                    <label class="col-3" for="headshot">Pasfoto</label>
                    <div class="col">
                      <input type="text" class="form-control" name="headshot" [(ngModel)]="person.headshot"
                      (ngModelChange)="personModelChange('headshot', $event)"#headshot="ngModel" />
                      <div *ngIf="f.submitted && !headshot.valid" class="help-block">Error</div>
                    </div>
                </div>

                <div class="form-group row" >
                  <label class="col-3" for="birthdate">Geboortedatum</label>
                  <div class="col">
                    <div class="form-inline">
                      <div class="form-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="birthdate" [(ngModel)]="person.birthdate"
                        (ngModelChange)="personModelChange('birthdate', $event)"
                        ngbDatepicker
                        #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                          <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3" for="deathdate">Overlijdensdatum</label>
                  <div class="col">
                    <div class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="Overlijdensdatum" name="deathdate" [(ngModel)]="person.deathdate"
                          (ngModelChange)="personModelChange('deathdate', $event)"
                          ngbDatepicker #d2="ngbDatepicker">
                          <button class="input-group-addon" (click)="d2.toggle()" type="button">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !summary.valid }">
                  <label class="col-3" for="summary">Samenvatting</label>
                  <div class="col">
                    <textarea type="text" class="form-control" name="summary" [(ngModel)]="person.summary"
                    (ngModelChange)="personModelChange('summary', $event)"
                    #summary="ngModel" rows="5"></textarea>
                  </div>
                </div>

                <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !biography.valid }">
                  <label class="col-3" for="biography">Biografie</label>
                  <div class="col">
                    <textarea type="text" class="form-control" name="biography" [(ngModel)]="person.biography"
                    (ngModelChange)="personModelChange('biography', $event)"
                    #biography="ngModel" rows="15"></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3"></div>
                  <div class="col">
                    <a [routerLink]="" (click)="update()" class="btn btn-primary">Update</a>
                    <a [routerLink]="" (click)="delete()" class="btn btn-danger">DELETE</a>
                    <a [routerLink]="['/person', person.id]">Annuleren</a>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>Identifiers</ng-template>
            <ng-template ngbTabContent>

              <h3>Identifiers:</h3>
              <div class="identifier-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Waarde</th>
                      <th>Acties</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>vooot_id</td>
                      <td>{{person.id}}</td>
                    </tr>
                    <tr *ngFor="let identifier of person.identifiers">
                      <td>{{ identifier.type.value }}</td>
                      <td>
                        <form name="form" (ngSubmit)="updateIdentifier(identifier)" novalidate>
                          <div class="row">
                            <div class="col-3">
                              <div class="form-group">
                                <input type="text" class="form-control" name="value" [(ngModel)]="identifier.value" #value="ngModel" required />
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Update</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="form-group">
                                <button class="btn btn-danger"><i class="fa fa-trash-o" (click)="deleteIdentifier(identifier.id)" href></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-3">
                  <div class="add-identifier">
                    <h3>Toevoegen</h3>
                    <form name="form" (ngSubmit)="addIdentifier()" #f="ngForm" novalidate>
                      <div class="form-group">
                        <select name="type" [(ngModel)]="identifier.type_id">
                          <option *ngFor="let identifier of identifierTypes" [ngValue]="identifier.id">
                            {{ identifier.name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" name="value" [(ngModel)]="identifier.value" #value="ngModel" placeholder="value" required />
                      </div>

                      <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Toevoegen</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Contact">
            <ng-template ngbTabContent>

              <h3>Contactgegevens:</h3>
              <div class="contacts-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Contact type</th>
                      <th>Waarde</th>
                      <th>Acties</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contact of person.contacts">
                      <td><strong>{{ contact.type.value }}</strong></td>
                      <td>{{ contact.value }}</td>
                      <td><i class="fa fa-trash-o" (click)="deleteContact(contact.id)" href></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h3>Toevoegen</h3>
              <form name="form" (ngSubmit)="addContact()" #f="ngForm" novalidate>
                <div class="form-group">
                  <select name="type" [(ngModel)]="contact.type_id">
                    <option *ngFor="let type of contactTypes" [ngValue]="type.id">
                      {{ type.name }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="value">Value</label>
                  <input type="text" class="form-control" name="value" [(ngModel)]="contact.value" #value="ngModel" required />
                </div>

                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Toevoegen</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                </div>
              </form>

            </ng-template>
          </ngb-tab>

          <ngb-tab title="Links">
            <ng-template ngbTabContent>
              <h3>Links:</h3>
              <div class="links-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Link</th>
                      <th>Value</th>
                      <th>Acties</th>
                    </tr>
                  </thead>

                  <tr *ngFor="let link of person.links">
                    <td><strong>{{ link.title }}</strong></td>
                    <td><a href="{{ link.value }}" target="_blank">{{ link.value }}</a></td>
                    <td><a (click)="deleteLink(link.id)"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                </table>
              </div>

              <h3>Toevoegen</h3>
              <form name="form" (ngSubmit)="addLink()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="type">Titel</label>
                  <input type="text" class="form-control" name="type" [(ngModel)]="link.title" #title="ngModel" required />
                  <label for="value">URL</label>
                  <input type="text" class="form-control" name="value" [(ngModel)]="link.value" #value="ngModel" required />
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 offset-md-2">
                    <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Toevoegen</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Namen">
            <ng-template ngbTabContent>
              Namen
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Nevenfuncties">
            <ng-template ngbTabContent>
              <h3>Nevenfuncties:</h3>
              <div class="jobs-list">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Titel</th>
                      <th>Beschrijving</th>
                      <th>Betaald</th>
                      <th>Startdatum</th>
                      <th>Einddatum</th>
                      <th>Acties</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of person.jobs">
                      <td><strong>{{ job.title }}</strong></td>
                      <td>{{ job.description }}</td>
                      <td>{{ job.paid }}</td>
                      <td>{{ job.startdate | date: 'dd-MM-yyyy'}}</td>
                      <td>{{ job.enddate | date: 'dd-MM-yyyy'}}</td>
                      <td><a (click)="deleteJob(job.id)"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h3>Toevoegen</h3>
              <form name="form" (ngSubmit)="addJob()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="title">Titel</label>
                  <input type="text" class="form-control" name="title" [(ngModel)]="job.title" #title="ngModel" required />
                </div>

                <div class="form-group">
                  <label for="description">Beschrijving</label>
                  <textarea rows="5" type="text" class="form-control" name="description" [(ngModel)]="job.description" #value="ngModel"></textarea>
                </div>

                <div class="form-group">
                  <label for="paid">
                  <input type="checkbox" name="paid" autocomplete="off" class="form-control" name="paid" [(ngModel)]="job.paid" #value="ngModel"> Betaald</label>
                </div>

                <div class="form-group row">
                  <div class="col">
                    <label for="startdate">Start datum</label><br>
                    <ngb-datepicker #dp [(ngModel)]="job.startdate" name="startdate"></ngb-datepicker>
                  </div>
                  <div class="col">
                    <label for="enddate">Eind datum</label><br>
                    <ngb-datepicker #dp [(ngModel)]="job.enddate" name="enddate"></ngb-datepicker>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 offset-md-2">
                    <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Toevoegen</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                  </div>
                </div>
              </form>

              <hr>
              <pre>Model: {{ job | json }}</pre>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <pre>{{ updatedPerson | json }}</pre>
</div>
