<div class="page-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1>Over ons</h1>

        <p class="intro">We gebruiken design en technologie om de de toegang tot informatie en participatie in het democratisch proces te versterken.</p>

        <p>voOot is een initiatief van urbanlink. Een ontwikkel studio in Den Haag. Urbanlink wil het lokale democratische proces toegankelijk en inzichtelijk maken. Wie zijn het, wat gebeurt er en wat wordt er besloten? Dit is de basis voor een moderne online democratie en een manier om de complexe besluitvorming en politiek op een simpele manier aan bewoners te tonen. </p>

        <h2>Wat we doen</h2>
        <p>We maken het mogelijk en makkelijk om op een actieve manier betrokken te zijn bij de gemeenteraad. Om dit te bereiken activeren we het netwerk van raadsleden en griffies om op een betrokken manier te communiceren met bewoners.</p>

        <h2>Waarom we het doen</h2>
        <p>Urbanlink is een design-driven ontwikkelburo die ervoor wil zorgen dat de democratie in onze huidige digitale en inforatie-maatschappij past. We bouwen een product dat bewoners de informatie geeft om in contact te treden met hun afgevaardigden. Deze toegang versterkt ook de interesse en kennis om op een actieve manier betrokken te zijn. Aan de andere kant bieden we raadsleden een moderne en eenvoudige tool om hen te helpen om te organiseren en hun zichtbaarheid te vergroten.</p>
      </div>
    </div>
  </div>
</div>
