<div class="text-center" *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></div>

<div class="organization-create-wrapper" *ngIf="!loading">
  <div class="container">
    <div class="col">
      <h1>Nieuwe gemeente toevoegen</h1>

          <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>

            <div class="form-group row">
              <label for="name" class="col-3">Name</label>
              <div class="col-3">
                <input type="text" class="form-control" name="name" [(ngModel)]="organization.name" #name="ngModel" />
              </div>
            </div>

            <div class="form-group row">
                <label for="abstract" class="col-3">Abstract</label>
                <div class="col">
                  <textarea type="text" class="form-control" name="abstract" [(ngModel)]="organization.abstract" #abstract="ngModel" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group row">
              <div class="col-3"></div>
              <div class="col">
                <button [disabled]="loading" class="btn btn-primary"><span *ngIf="!loading">Toevoegen</span><span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span></button>
                <a href [routerLink]="['/gemeente', organization.id]">Annuleren</a>
              </div>
            </div>
          </form>

          <hr>
          <pre>Model: {{ organization | json }}</pre>
          <hr>
          <pre>Classifications: {{ classifications | json }}</pre>


  </div>
</div>
</div>
