.page-wrapper {
  .page-header {

  }
  .page-body {
    .person-item {
      display: inline-block;
      width: 80px;
      /* float: left; */
      vertical-align: text-bottom;
      text-align: center;
      height: 130px;
    }
  }
}
